.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  width: 750px;
  margin: 0 auto; }

@keyframes noise-anim {
  0% {
    clip: rect(80px, 9999px, 35px, 0); }
  5% {
    clip: rect(14px, 9999px, 76px, 0); }
  10% {
    clip: rect(10px, 9999px, 78px, 0); }
  15% {
    clip: rect(12px, 9999px, 53px, 0); }
  20% {
    clip: rect(92px, 9999px, 71px, 0); }
  25% {
    clip: rect(86px, 9999px, 54px, 0); }
  30% {
    clip: rect(7px, 9999px, 71px, 0); }
  35% {
    clip: rect(94px, 9999px, 29px, 0); }
  40% {
    clip: rect(16px, 9999px, 7px, 0); }
  45% {
    clip: rect(93px, 9999px, 64px, 0); }
  50% {
    clip: rect(12px, 9999px, 26px, 0); }
  55% {
    clip: rect(48px, 9999px, 5px, 0); }
  60% {
    clip: rect(62px, 9999px, 42px, 0); }
  65% {
    clip: rect(50px, 9999px, 85px, 0); }
  70% {
    clip: rect(46px, 9999px, 65px, 0); }
  75% {
    clip: rect(26px, 9999px, 47px, 0); }
  80% {
    clip: rect(26px, 9999px, 78px, 0); }
  85% {
    clip: rect(15px, 9999px, 11px, 0); }
  90% {
    clip: rect(34px, 9999px, 37px, 0); }
  95% {
    clip: rect(82px, 9999px, 80px, 0); }
  100% {
    clip: rect(34px, 9999px, 34px, 0); } }
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }

@keyframes noise-anim-2 {
  0% {
    clip: rect(56px, 9999px, 24px, 0); }
  5% {
    clip: rect(91px, 9999px, 18px, 0); }
  10% {
    clip: rect(6px, 9999px, 53px, 0); }
  15% {
    clip: rect(37px, 9999px, 31px, 0); }
  20% {
    clip: rect(91px, 9999px, 95px, 0); }
  25% {
    clip: rect(25px, 9999px, 40px, 0); }
  30% {
    clip: rect(66px, 9999px, 87px, 0); }
  35% {
    clip: rect(76px, 9999px, 92px, 0); }
  40% {
    clip: rect(49px, 9999px, 68px, 0); }
  45% {
    clip: rect(10px, 9999px, 33px, 0); }
  50% {
    clip: rect(20px, 9999px, 6px, 0); }
  55% {
    clip: rect(82px, 9999px, 97px, 0); }
  60% {
    clip: rect(66px, 9999px, 20px, 0); }
  65% {
    clip: rect(12px, 9999px, 27px, 0); }
  70% {
    clip: rect(75px, 9999px, 28px, 0); }
  75% {
    clip: rect(65px, 9999px, 74px, 0); }
  80% {
    clip: rect(77px, 9999px, 83px, 0); }
  85% {
    clip: rect(48px, 9999px, 28px, 0); }
  90% {
    clip: rect(63px, 9999px, 54px, 0); }
  95% {
    clip: rect(4px, 9999px, 18px, 0); }
  100% {
    clip: rect(23px, 9999px, 20px, 0); } }
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse; }

body {
  background: url("water2.gif") repeat;
  font-family: times;
  color: white;
  cursor: url("cur.png"), auto;
  margin: 0; }

header {
  text-align: center; }

nav {
  display: inline-block;
  font: 28px 'Alegreya Sans SC', sans-serif; }
  nav ul {
    padding: 0;
    list-style: none;
    list-style-type: none;
    width: 100%;
    display: table-row; }
  nav li {
    float: left; }
    nav li a {
      display: block;
      color: white;
      text-align: center;
      padding: 20px 16px;
      text-decoration: none; }
  nav a:hover {
    color: pink; }

h1 {
  font: 36px vcr_osd;
  font-weight: 700;
  text-align: center;
  letter-spacing: 5px;
  margin: 0; }

.gradient {
  background: -webkit-linear-gradient(left top, #ffa6ff, #6bffff);
  background: -o-linear-gradient(bottom right, #ffa6ff, #6bffff);
  background: -moz-linear-gradient(bottom right, #ffa6ff, #6bffff);
  background: linear-gradient(to bottom right, #ffa6ff, #6bffff); }

.trans-text {
  mix-blend-mode: multiply;
  background: #000; }

.scanlines {
  background: url("scanline.png") repeat; }

@font-face {
  font-family: vcr_osd;
  src: url("vcr_osd.ttf"); }
p {
  padding: 20px;
  line-height: 1.6;
  margin: 0;
  font: 24px vcr_osd;
  text-transform: uppercase; }

.p-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-height: 500px; }

.float-right {
  float: right; }

.img-bust {
  background-color: #000;
  max-height: 500px;
  mix-blend-mode: multiply;
  flex: 1;
  flex-grow: 1;
  justify-content: center; }

.flex-text {
  overflow: auto; }

.jazz1 {
  width: 100%;
  height: 600px;
  background-image: url("jazz.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  mix-blend-mode: multiply; }

.jazz2 {
  width: 100%;
  height: 300px;
  background-image: url("jazz.jpg");
  background-repeat: no-repeat;
  background-size: 100% 200%;
  background-position: center;
  background-blend-mode: difference;
  background-color: white;
  mix-blend-mode: multiply; }

.pvm {
  width: 600px;
  height: auto; }

.jap-text {
  ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: upright;
  -moz-text-orientation: upright;
  -ms-text-orientation: upright;
  text-orientation: upright;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 100%;
  font-family: sans-serif;
  font-weight: 700;
  color: white; }
  .jap-text p {
    background: black; }

.jap-ends {
  width: 100%; }

.pvm-screen {
  position: absolute;
  z-index: 99;
  width: 600px;
  height: 420px;
  background: url("comp-crystals.png") no-repeat center center/350px 300px;
  text-align: center;
  font: 24px vcr_osd; }

.email {
  font-size: 45px; }

footer {
  height: 60px;
  width: calc(100% - 40px);
  line-height: 60px;
  padding: 20px;
  font-size: 28px;
  font-family: 'Alegreya Sans SC', sans-serif; }

/*# sourceMappingURL=style.css.map */
